@mixin right-side-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 30%;
    margin-left: -25px;
    margin-top: -25px;

    @include media-breakpoint-up(xl) {
        object-position: 66% 34%;
        margin-left: -45px;
        margin-top: -45px;
    }
}