.container-accent {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 100px;
    padding: 0;
    align-items: center;

    @include media-breakpoint-up(md) {
        width: 100%;
        flex-direction: row;
        margin-top: 50px;
    }
}

.container-accent__left-side {
    width: 100%;
    margin-left: 30px;

}

.container-accent__right-side {
    width: 100%;
    padding: 0 50px;

    @include media-breakpoint-up(md) {
        padding: 0;
        margin-left: 50px;
    }
}

.left-side__title {
    width: 60%;
    margin-bottom: 20px;
    font-size: $h2-font;
    font-weight: 700;
    text-align: left;
}

.title_underline {
    width: 20px;
    height: 2px;
    margin-top: -5px;
    margin-left: 1px;
    border-top: 3px solid $theme-color-primary;
}

.left-side__text-box {
    width: 80%;
    height: auto;
    margin-bottom: 20px;

}

.text-box {
    width: fit-content;
    align-items: start;
    text-align: start;
    font-size: $responsive-paragraph-size;
}

.left-side_more-btn {
    width: 180px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    border: solid 2px $theme-color-primary;
}

.right-side__container-img {
    width: 284px;
    height: 327px;
    margin-bottom: 20px;
    background-color: $theme-color-primary;

    @include media-breakpoint-up(md) {
        width: 615px;
        height: 712px;
    }
}

.right-side__image {
    width: 286px;
    height: 322px;
    margin-top: -30px;
    margin-left: -40px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        width: 615px;
        height: 712px;
    }
}