.container-accent {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 150px;
}

.container-accent__left-side {
    max-width: 603px;
    height: 91px;
    margin-right: 190px;
    margin-top: 150px;
}

.left-side__title {
    width: 355px;
    height: 110px;
}

.title_underline {
    width: 50px;
    margin-top: 10px;
    margin-left: 1px;
    border-top: 3px solid $theme-color-primary;
}

.container-left-side__text-box {
    width: 603px;
    height: 66px;
    margin-top: 20px;
    font-size: $theme-font-base;
}

.left-side_more-btn {
    height: 40px;
    margin-top: 55px;
    border: solid 2px $theme-color-primary;
    background-color: $theme-color-secondary;
    text-decoration: none;
    font-weight: 600;

}

.container-accent__right-side {
    width: 615px;
    height: 712px;
    background-color: $theme-color-primary;
}

.right-side__image {
    width: 620px;
    height: 700px;
    object-fit: cover;
    margin-top: -30px;
    margin-left: -121px;
}