.numbers-information {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @include media-breakpoint-up(xl) {
        width: 250px;
    }

}


.information-text {
    width: fit-content;
}

.numbers-border {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
        border-right: 2px solid $footer-color-grey;

        &:last-child {
            border-right: $none-border;
        }

    }
}

.numbers-counter {
    font-size: $career-font-numbers;
    font-weight: 700;
    color: $theme-color-primary;

    @include media-breakpoint-down(md) {
        font-size: $responsive-numbers-size;
    }
}

.container-text {
    display: flex;
    flex-direction: column;
}

.numbers-text {
    font-size: $theme-font-base;
    font-weight: normal;
    color: $link-color-black;

}