.cards-template {
    width: 300px;
    height: 250px;
    box-shadow: $box-shadow;
    text-align: start;
    border: 5px solid $theme-color-primary;
    padding: 20px 10px;

    @include media-breakpoint-up(md) {
        width: 400px;
        height: 400px;
        margin-bottom: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        border: 10px solid $theme-color-primary;
    }
}

.card__image {
    height: 40px;

    @include media-breakpoint-up(xl) {
        height: 80px;
    }
}

.title-image__wrapper {
    height: 50px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;

    @include media-breakpoint-up(xl) {
        height: 120px;
    }
}

.card__title {
    margin-top: 15px;
    margin-left: 5px;
    font-size: $tab-menu-font;
    font-weight: 700;
    font-family: $font-robotocondensed-bold;
    color: $theme-color-primary;


    @include media-breakpoint-down(md) {
        font-size: $responsive-title-size;
    }
}

.card__text {
    width: 200px;
    margin-top: 15px;
    text-align: start;
    font-size: $responsive-text-size;

    @include media-breakpoint-up(xl) {
        width: auto;
        font-size: $theme-font-base;
    }
}