.career {
    margin-bottom: 50px;

    @include media-breakpoint-up(xl) {
        margin-bottom: 300px;
    }
}

.career__orange-left {
    position: absolute;
    width: 100%;
    height: 673px;
    margin-top: 50%;
    background-color: $theme-color-primary;

    @include media-breakpoint-up(xl) {
        height: 485px;
        margin-top: 19%;
    }
}

.career__grey-right {
    position: relative;
    width: calc(100% - 2%);
    height: 1017.2px;
    margin-left: auto;
    background-color: $section-color-grey;

    @include media-breakpoint-up(xl) {
        width: calc(100% - 5%);
        height: 743px;
    }
}

.grey-right__content {
    padding-top: 60px;
    padding-left: 0;

    @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-top: 20px;
    }
}

.information-title {
    font-family: $font-robotocondensed-bold;

    @include media-breakpoint-down(sm) {
        font-size: $responsive-big-title-size;
        font-weight: 700;
        letter-spacing: $letter-spacing;
    }
}

.information-underline {
    margin-top: 10px;
    margin-left: 2px;
    width: 40px;
    border-top: 3.5px solid $theme-color-primary;

    @include media-breakpoint-down(sm) {
        width: 20px;
        height: 2px;
        margin-top: -5px;
    }
}

.information-text {
    width: 649.3px;
    height: 59px;

    @include media-breakpoint-down(sm) {
        font-size: $responsive-paragraph-size;
    }
}

.information-button {
    width: 180px;
    height: 50px;
    margin-top: 5px;
    padding: 20 20px;
    border: solid 2px $theme-color-primary;
    background-color: $theme-color-secondary;
    text-decoration: none;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
        width: 180px;
        height: 50px;
        margin-bottom: 30px;
        font-size: $responsive-paragraph-size;
        font-weight: 700;
        background-color: $section-color-grey;
    }
}

.career__border {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        border-top: 2px solid $footer-color-grey;
        margin-left: 45px;
        margin-right: 25%;

    }
}

.careercards__cards-buttons {
    position: relative;
    display: flex;
    flex-direction: nowrap;
    overflow-x: scroll;

    @include media-breakpoint-up(xl) {
        flex-direction: row;
        margin-left: 45px;
        overflow-x: hidden;
    }
}

.career__information {
    margin-left: 5px;

    @include media-breakpoint-up(xl) {
        margin-left: 45px;
    }
}

.career__numbers {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    @include media-breakpoint-up(xl) {
        flex-direction: row;
        margin-left: 45px;
        gap: 60px;
        padding-left: 40px;

        &:first-child {
            padding-left: 0;
        }

    }
}