.cards-side__all-cards {
    display: flex;
    margin-right: 180px;

    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
}

.cards-side__card {
    width: 400px;
    height: 400px;
    margin-left: -130px;
    margin-right: 20px;
    padding: 65px;
    background-color: $theme-color-secondary;
    box-shadow: $box-shadow;
    text-align: start;

    @include media-breakpoint-down(sm) {
        width: 268px;
        height: 310px;
        margin-left: -80px;
        margin-bottom: 20px;
        padding: 20px;
    }
}

.card__image {
    height: 72px;

    @include media-breakpoint-down(sm) {
        height: 60px;
    }
}

.card__title {
    margin-top: 15px;
    font-size: $theme-font-small-title;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        font-size: $responsive-title-size;
    }
}

.card__text {
    margin-top: 15px;
    line-height: $line-height;
    text-align: left;
    font-size: $theme-font-base;

    @include media-breakpoint-down(sm) {
        font-size: $responsive-paragraph-size;
        margin-top: 5px;
        height: 95px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card__information-btn {
    display: block;
    width: 70%;
    margin-left: -5px;
    border: $none-border;
    background-image: $background-image;
    background-size: $background-size;
    background-color: $theme-color-secondary;
    background-repeat: $background-no-repeat;
    background-position-x: $background-position-x;
    text-align: start;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        width: 75%;
        font-size: $responsive-paragraph-size;
    }
}

.card__information-btn:hover {
    background-image: $background-image-hover;
    background-size: $background-size;
    background-repeat: $background-no-repeat;
}

.card__information-btn:active {
    color: $theme-color-primary;
    background-image: $background-image-hover;
    background-repeat: $background-no-repeat;
}

.about-section__text {

    @include media-breakpoint-down(sm) {
        height: 60px;
        width: 270px;
        margin-bottom: 40px;
    }

}