.company-news {
    margin-bottom: 50px;

    &--grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.news-page-1 .news-item:nth-child(n+7),
.news-page-2 .news-item:nth-child(-n+6),
.news-page-3 .news-item:nth-child(n+13),
.news-page-4 .news-item:nth-child(n+19) {
    display: none;
}

.news-page-2 .news-item:nth-child(n+7),
.news-page-3 .news-item:nth-child(-n+6),
.news-page-4 .news-item:nth-child(n+7),
.news-page-5 .news-item:nth-child(-n+6),
.news-page-6 .news-item:nth-child(n+13),
.news-page-7 .news-item:nth-child(-n+12) {
    display: none;
}