.company-news {
    margin-bottom: 50px;

    &--grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.news-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        object-fit: cover;

        &:hover {
            // width: fit-content;
            transform: scale(1.05);
            transition: 0.6s ease;
        }
    }

    &__time {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 5px 15px;
        font-size: $news-date-size;
        color: $news-date-color;
        background-color: $theme-color-secondary;
        z-index: 2;
    }

    &__title {
        // padding-bottom: 30px;
        font-family: $font-robotocondensed-bold;
        font-size: $h2-font;
        font-weight: 700;
    }

    &__text {
        font-family: $font-opensans-regular;
        color: $news-date-color;
    }

    &:hover .news-item__time {
        color: $news-date-color;
    }

    &:hover .news-item__text {
        color: $theme-color-primary;
    }
}

.link-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 30px;
}

.news-page-1 .news-item:nth-child(n+7),
.news-page-2 .news-item:nth-child(-n+6),
.news-page-3 .news-item:nth-child(n+13),
.news-page-4 .news-item:nth-child(n+19) {
    display: none;
}

.news-page-2 .news-item:nth-child(n+7),
.news-page-3 .news-item:nth-child(-n+6),
.news-page-4 .news-item:nth-child(n+7),
.news-page-5 .news-item:nth-child(-n+6),
.news-page-6 .news-item:nth-child(n+13),
.news-page-7 .news-item:nth-child(-n+12) {
    display: none;
}