.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__left-side {
        display: flex;
        flex-direction: column;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


.form-accent__right-side {
    margin-top: 50px;

    @include media-breakpoint-up(md) {
        position: relative;
        padding: 0;
        right: 0;
    }
}

.left-side__title {
    margin-bottom: 20px;
    font-size: $h2-font;
    font-weight: 700;
    font-family: $font-robotocondensed-bold;
    text-align: left;

    @include media-breakpoint-up(md) {
        font-size: $theme-font-title;
    }
}

.title_underline {
    width: 20px;
    height: 2px;
    margin-top: -5px;
    margin-left: 1px;
    border-top: 3px solid $theme-color-primary;
}

.mk-kontakt-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.icon-wrapper {
    width: 40px;
    height: 40px;

    @include media-breakpoint-up(md) {
        width: 60px;
        height: 60px;
    }
}

.mobile-icon {
    width: 35px;
    height: 30px;
    padding-right: 5px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        width: 45px;
        height: 40px;
    }
}

.mail-icon {
    width: 40px;
    height: 30px;
    padding-right: 5px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        width: 50px;
        height: 40px;
    }
}

.location-icon {
    width: 25px;
    height: 30px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        width: 40px;
        height: 50px;
    }
}

.text-box {
    width: fit-content;
    align-items: start;
    text-align: start;
    font-size: $responsive-paragraph-size;

    @include media-breakpoint-up(md) {
        font-size: $theme-font-base;
    }
}

.right-side__form {
    width: 100%;
    padding: 30px;
    background-color: $theme-color-primary;

    @include media-breakpoint-up(md) {
        padding: 50px;
    }
}


// New styles 

.submit-form {
    display: flex;
    flex-direction: column;
    width: 303px;
    height: fit-content;

    @include media-breakpoint-up(md) {
        width: 480px;
    }
}

.submit-form input::placeholder {
    color: $burger-menu-color;
    padding-left: 15px;
    font-size: $theme-font-base;
}


.radio-button-container {
    display: flex;
    flex-direction: row;
}

.form-content {
    box-shadow: $box-shadow;
    border: $none-border;
}

.person-option {
    margin-bottom: 30px;
    height: 50px;
}

.name-container {
    @include media-breakpoint-up(md) {
        margin-bottom: 25px;
    }
}

.name-container input {
    height: 50px;
    width: 300px;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
        width: 230px;
    }
}

.name {
    width: 200px;

    @include media-breakpoint-up(md) {
        margin-right: 15px;
    }
}

.email {
    height: 50px;
    margin-bottom: 25px;
}

.message {
    height: 50px;
    margin-bottom: 25px;
}

.textarea {
    width: 100%;
    height: 184.7px;
    margin-bottom: 30px;
}

.form__checkbox-text {
    margin-left: 15px;

    @include media-breakpoint-up(md) {
        padding-top: 15px;
        margin-left: 10px;
    }
}

.form-checkbox[type="checkbox"] {
    width: 30px;
}

.contact-form__btn {
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $theme-color-secondary;
    border: 5px solid $theme-color-third;
    color: $theme-color-primary;
    font-weight: 700;
    margin-left: 50px;

    @include media-breakpoint-up(md) {
        margin-left: 60px;
    }
}