.navbar {
    z-index: 100;

    @include media-breakpoint-down(xl) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.main-navigation {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
    }
}

.logo {

    @include media-breakpoint-down(xl) {
        width: 250px;
    }
}

.menu {


    @include media-breakpoint-down(xl) {
        display: flex;
        align-items: center;
    }
}

.menu__first-level {


    @include media-breakpoint-down(xl) {
        display: flex;
        gap: 15px;
        margin-top: 10px;
        padding-right: 20px;
    }
}

.menu__list-item {

    @include media-breakpoint-down(xl) {
        font-size: $theme-font-base;
        font-weight: 500;
        text-transform: uppercase;
    }
}


.menu__second-level {

    @include media-breakpoint-down(xl) {
        display: none;
        position: absolute;
        width: 250px;
        padding: 10px;
        background-color: $theme-color-secondary;
        box-shadow: $box-shadow;
        z-index: 1;
        text-transform: none;
    }
}

.second-level__list-item {
    @include media-breakpoint-down(xl) {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.dropdown:hover .menu__second-level {

    @include media-breakpoint-down(xl) {
        display: block;
    }
}

/* Icons STYLE */
.navbar__searching-and-lanugages {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-breakpoint-down(xl) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.icon-search {

    @include media-breakpoint-down(xl) {
        margin-bottom: 3px;
        height: 20px;
        margin-right: 20px;
    }
}

.icon-languages {


    @include media-breakpoint-down(xl) {
        margin-bottom: 3px;
        margin-right: 5px;
        height: 20px;
    }
}

.first-level__link-arrow {
    width: 10px;
}

.first-level__link-arrow--blue {
    display: none;
}

.menu__first-level:hover .first-level__link-arrow--blue {
    @include media-breakpoint-down(xl) {
        display: block;
        float: right;
        margin-top: 10px;
        margin-left: 5px;
        width: 10px;
    }
}

.menu__first-level:hover .first-level__link-arrow {
    @include media-breakpoint-down(xl) {
        display: none;
    }
}

.icons-container {
    display: flex;
    flex-direction: row;
}