.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;


    .menu__first-level {
        display: flex;
        gap: 25px;
    }

    .menu__list-item {
        font-size: $theme-font-base;
        font-weight: 500;
        text-transform: uppercase;
    }

    .dropdown {
        padding-right: 15px;
        background-image: $menu-background-image;
        background-repeat: $background-no-repeat;
        background-size: $menu-background-size;
        background-position: $menu-background-position;
        background-position-x: $menu-background-position-x;
    }

    .dropdown:hover {
        background-image: $menu-background-hover;
        background-repeat: $background-no-repeat;
        background-size: $menu-background-size;
        background-position: $menu-background-position;
        background-position-x: $menu-background-position-x;
    }

    .menu__second-level {
        display: none;
        position: absolute;
        width: 250px;
        padding: 10px;
        background-color: $theme-color-secondary;
        box-shadow: $box-shadow;
        z-index: 1;
        text-transform: none;
    }

    .dropdown:hover .menu__second-level {
        display: block;
    }

    .menu__second-level:hover .link-arrow--orange {
        display: none;
    }

    .dropdown:hover .link-arrow--orange {
        display: none;
    }

    .second-level__dropdown:hover .link-arrow--orange {
        display: block;
        width: 10px;
    }

    .second-level__dropdown:hover .link-arrow {
        display: none;
    }

    .menu__third-level {
        display: none;
        position: absolute;
        left: 240px;
        top: 60px;
        width: 250px;
        padding: 10px;
        background-color: $section-color-grey;
        box-shadow: $box-shadow;
        z-index: 1;
        text-transform: none;
    }

    .second-level__dropdown:hover .menu__third-level {
        display: block;
    }

    .menu__third-level:hover .link-arrow--orange {
        display: block;
    }

    .link__third-level {
        display: flex;
        justify-content: space-between;
    }

    .link-arrow {
        rotate: -90deg;
    }

    .link-arrow--orange {
        rotate: 90deg;
    }
}

/* Icons STYLE */
.icons-container {
    display: flex;
    align-items: center;

    .icon-search {
        margin-bottom: 3px;
        height: 20px;
        margin-right: 20px;
    }

    .icon-languages {
        margin-bottom: 3px;
        height: 20px;
        margin-right: 5px;

    }
}