.main-navigation {
    height: 100px;
    margin-right: 60px;
}
.menu-container {
    margin-top: 15px;
}
.logo {
    width: 120px;
    margin-left: 60px;
}

.menu-list li {
    display: inline;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    color: $link-color-black;
    background-color: $theme-color-secondary;
    text-decoration: none;
}

a:link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.menu-item_link a {
    color: $link-color-black;
    text-decoration: none;
}

.menu-liste_item {
    display: flex;
    flex-direction: inherit;
    list-style-type: none;
}

.dropdown-content a {
    padding: 5px 30px;
    color: $link-color-black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
}

.search {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    width: 25px;
}

.nav-languages {
    margin-top: 6px;
    width: 25px;
}

.nav-languages_options {
    margin-left: 5px;
}
