.container-section {
    padding-bottom: 380px;

    @include media-breakpoint-up(xl) {
        padding-bottom: 150px;
    }
}

.container-section__orange-side {
    position: absolute;
    width: calc(100% - 65%);
    height: 307px;
    margin-right: auto;
    background-color: $theme-color-primary;

    @include media-breakpoint-up(xl) {
        height: 861px;
    }
}

.container-section__cards-side {
    position: relative;
    width: calc(100% - 20%);
    height: 271px;
    margin-left: auto;
    top: 10px;
    padding-top: 10px;
    background-color: $section-color-grey;

    @include media-breakpoint-up(xl) {
        height: fit-content;
        top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.cards-side__about-section {
    width: 80%;
    margin-left: 0;
    margin-bottom: 20px;
    padding-left: 10px;
    align-self: flex-start;

    @include media-breakpoint-up(xl) {
        width: 28%;
        margin-left: 60px;
        margin-bottom: 70px;
    }
}

.about-section__title {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: $responsive-big-title-size;

    @include media-breakpoint-up(xl) {
        font-size: $theme-font-title;

    }
}

.about-section__line {
    width: 40px;
    margin-top: 10px;
    margin-left: 2px;
    border-top: 3.5px solid $theme-color-primary;

    @include media-breakpoint-down(sm) {
        width: 20px;
        height: 2px;
        margin-top: 5px;
    }
}

.about-section__text {
    display: none;

    @include media-breakpoint-up(xl) {
        display: block;
    }
}

.about-section__text--mobile {
    display: block;

    @include media-breakpoint-up(xl) {
        display: none;
    }
}

.cards-side__all-cards {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 40px;
    margin-left: -45px;

    @include media-breakpoint-up(xl) {
        overflow-x: hidden;
        gap: 65px;
        margin-left: -95px;
    }
}