.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__left-side {
    width: 1135px;
    height: 580px;
    background-color: $theme-color-primary;

    @include media-breakpoint-down(sm) {
        width: 261px;
        height: 1275px;
    }
}

.footer__right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1834px;
    height: 506px;
    margin-top: 74px;
    margin-left: 68px;
    background-color: $section-color-grey;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        width: 356px;
        height: 1225px;
        margin-top: 50px;
        margin-left: 19px;
    }
}

.grid-container {
    display: grid;
    gap: 60px;

    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

}

.right-side__service {
    grid-column: 1/ span 1;
    grid-row: 2;

    @include media-breakpoint-down(sm) {
        margin-top: -80px;
    }
}

.right-side__information {
    grid-column: 2/ span 2;
    grid-row: 2;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-left: 1px solid $footer-color-grey;

    @include media-breakpoint-down(sm) {
        border-left: $none-border;
        border-top: 2px solid $footer-color-grey;
        padding-left: 0;
        padding-bottom: 0;
    }
}

.right-side__bulletin {
    grid-column: 4/ span 4;
    grid-row: 2;
    padding-left: 80px;
    padding-top: 10px;
    border-left: 1px solid $footer-color-grey;

    @include media-breakpoint-down(sm) {
        border-left: $none-border;
        border-top: 2px solid $footer-color-grey;
        padding-left: 0;
    }
}

.footer__bottom {
    grid-column: 1 / span 8;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid $footer-color-grey;

    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 25px;
    }
}

.information__links {
    display: flex;
    flex-direction: column;
}

.link {
    @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
        font-size: $responsive-paragraph-size;
    }
}

.footer-titles {
    font-size: $theme-font-small-title;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
        padding-top: 20px;
        font-size: $responsive-title-size;
        font-weight: 700;
    }
}

.bulletin-form {
    display: grid;
    grid-template-columns: 150px 150px;

    .bulletin-form::after {
        content: "";
        display: table;
    }

    .bulletin__email {
        padding-right: 150px;
    }

    .bulletin__submit {
        height: 40px;
        margin-top: 20px;
        padding: 5px 20px;
        border: solid 2px $theme-color-primary;
        background-color: $section-color-grey;
        text-decoration: none;
        font-weight: 600;
        text-align: center;

        @include media-breakpoint-down(sm) {
            width: 180px;
            height: 50px;
            font-size: $responsive-paragraph-size;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}

.subscribe_email {
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: $box-shadow;
    border: $none-border;

    @include media-breakpoint-down(sm) {
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    appearance: none;
    background-color: $theme-color-secondary;
    border: $none-border;
    font-style: inherit;
    color: $theme-color-secondary;
    box-shadow: $box-shadow;
    transform: translateY(-0.075em);

    @include media-breakpoint-down(sm) {
        width: 30px;
        height: 30px;
    }
}

.bulletin__checkbox {
    display: flex;
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
        width: 140px;
        margin-bottom: 10px;
    }
}

.checkbox-text {
    margin-left: 5px;

    @include media-breakpoint-down(sm) {
        padding-top: 5px;
        font-size: $responsive-paragraph-size;
    }
}