.footer-main {
    justify-content: space-between;
}

.footer__left-side {
    position: absolute;
    width: calc(100% - 114px);
    height: 1275px;
    margin-right: auto;
    background-color: $theme-color-primary;

    @include media-breakpoint-up(xl) {
        width: calc(100% - 784px);
        height: 580px;
        left: 0;
    }
}

.footer__right-side {
    position: relative;
    margin-left: auto;
    width: calc(100% - 19px);
    height: 1218.8px;
    top: 57px;
    background-color: $section-color-grey;


    @include media-breakpoint-up(xl) {
        width: calc(100% - 85px);
        height: 506px;
        margin-left: auto;
        padding-top: 80px;
        top: 74px;

    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20;

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.right-side__information {
    border-left: $none-border;
    padding-left: 0;
    padding-bottom: 0;
    border-top: 2px solid $footer-color-grey;

    @include media-breakpoint-up(xl) {
        padding-left: 80px;
        border-left: 1px solid $footer-color-grey;
        border-top: $none-border;
    }
}

.right-side__bulletin {
    padding-left: 80px;
    border-left: 1px solid $footer-color-grey;

    @include media-breakpoint-down(md) {
        border-left: $none-border;
        border-top: 2px solid $footer-color-grey;
        padding-left: 0;
    }
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;

    @include media-breakpoint-up(xl) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid $footer-color-grey;

    }
}

.information__links {
    display: flex;
    flex-direction: column;
}

.information__links a {
    margin-bottom: 10px;
}

.link {
    padding-bottom: 10px;
    font-size: $responsive-paragraph-size;

    @include media-breakpoint-up(xl) {
        font-size: $theme-font-base;
    }
}

.footer-titles {
    font-size: $theme-font-small-title;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
        padding-top: 20px;
        font-size: $responsive-title-size;
        font-weight: 700;
    }
}

.bulletin-form {
    display: grid;
    grid-template-columns: 150px 150px;

    .bulletin-form::after {
        content: "";
        display: table;
    }

    .bulletin__email {
        padding-right: 100px;
    }

    .bulletin__submit {
        height: 40px;
        margin-top: 20px;
        padding: 5px 20px;
        border: solid 2px $theme-color-primary;
        background-color: $section-color-grey;
        text-decoration: none;
        font-weight: 600;
        text-align: center;

        @include media-breakpoint-down(sm) {
            width: 180px;
            height: 50px;
            font-size: $responsive-paragraph-size;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}

.subscribe_email {
    padding-right: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-shadow: $box-shadow;
    border: $none-border;

    @include media-breakpoint-down(sm) {
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}

.bulletin__checkbox {
    font-size: $responsive-paragraph-size;
    display: inline-block;

    @include media-breakpoint-up(xl) {
        font-size: $theme-font-base;
    }
}

.checkbox {
    width: 30px;
    height: 30px;
    margin-right: 5px;

    @include media-breakpoint-up(xl) {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}