* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font-opensans-regular, sans-serif;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;

    &:link {
        text-decoration: none;
    }

    &:hover {
        color: $theme-color-primary
    }
}

li {
    list-style: none;
}

button:focus {
    outline: none;
}

.unstyled-button {
    @include unstyled-button;
}

.screen-reader-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

}