* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: $theme-color-primary
}

li {
    list-style: none;
}

button:focus {
    outline: none;
}

.unstyled-button {
    border: $none-border;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: $background-transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}