<main>
    {{>_template-pages
    bannerImage='../../assets/images/smiling-couple.png'
    breadcrumbContent='Заяви е-фактура'
    articleTitle='Заяви е-фактура и
    спечели'
    articleTekst='
    <p class="article-text">
        Всеки клиент, който се регистрира за електронна фактура в периода 1-30 юни 2019 г., ще получи като подарък
        себестойността на 20 kWh
    </p>
    <p class="article-text">
        От 1 до 30 юни 2019 г., всеки клиент на „ЧЕЗ Електро България“ АД, който заяви услугата „Електронна фактура“, ще
        получи като подарък от компанията себестойността на 20 kWhелектроенергия.
    </p>
    <p class="article-text">
        В кампанията могат да участват всички клиенти на „ЧЕЗ Електро България“ АД, които не са регистрирани за
        е-фактура. Регистрация за услугата може да се направи безплатно онлайн на www.cez.bg, в Център за обслужване на
        клиенти на „ЧЕЗ Електро България“ АД или в каса на Изипей. Необходимо е клиентът да предостави клиентски номер,
        оторизационен код и актуален имейл адрес. Подаръка от 20 kWh клиентът ще получи под формата на приспадната им
        себестойност от втората му електронна фактура, издадена след регистрацията.
    </p>
    <p class="article-text">
        20 kWh се равняват на консумирана електроенергия, необходима за приготвянето на 4 363 еспресо кафета или на 88
        часа използване на осветление. 20 kWh осигуряват на всяко домакинство 50 изпирания с автоматична пералня. 20 kWh
        са достатъчни за 178 часа видео игри или 81 часа от любимия семеен сериал.

    </p>
    <p class="article-text">
        Електронната фактура е напълно безплатна услуга. След регистрацията клиентите могат да следят документите си
        както в електронния архив на сайта cez.bg, така и на посочения от тях имейл адрес. Електронната фактура
        гарантира защита на личните данни, спестява време и дава възможност за лесно и практично контролиране на
        разходите. Тя е валиден, електронно подписан данъчен документ, който е напълно идентичен с хартиената версия.
    </p>
    <p class="article-text">
        Електронната фактура е напълно безплатна услуга. След регистрацията клиентите могат да следят документите си
        както в електронния архив на сайта cez.bg, така и на посочения от тях имейл адрес. Електронната фактура
        гарантира защита на личните данни, спестява време и дава възможност за лесно и практично контролиране на
        разходите. Тя е валиден, електронно подписан данъчен документ, който е напълно идентичен с хартиената версия.
    </p>
    <p class="article-text">
        Правилата на кампанията „20 kWh подарък“ са публикувани на корпоративния сайт <a href="www.cez.bg"
            class="article-text__link">www.cez.bg</a>

    </p>
    <p class="article-text article-text--bold">
        Заявете своята електронна фактура, осигурете си удобство и сигурност! Ще спечелите Вие, ще спечели и природата!
    </p>'
    }}
</main>