<main>
    {{>_template-pages
    bannerImage='../../assets/images/smiling-couple.png'
    breadcrumbContent='Контакти'
    articleTitle='Контакти'
    articleTekst='
    <p class="article-text">
        Уважаеми клиенти, <br>
        От 1 февруари 2021 г. Центровете за обслужване на клиенти на дружествата на ЧЕЗ в България удължават работното
        си време и ще обслужват клиенти от 08:30 ч. До 17:00 ч. От понеделник до петък. Във връзка с удължената до 30
        април извънредна обстановка, ЧЕЗ съветва своите клиенти да посещават офисите на центровете за обслужване на
        клиенти при неотложна необходимост, като за информация и връзка с компанията използват възможностите за
        дистанционен контакт – телефон, имейли, корпоративни сайтове.
    </p>'
    }}
    {{>_contacts-tabs}}
    {{>_form-accent}}
</main>