<main>
    {{>_template-pages
    bannerImage='../../assets/images/p2.png'
    breadcrumbContent='Възобновяеми енергийни източници'
    articleTitle='Възобновяеми енергийни източници”'
    articleTekst=
    '<p class="article-text">Присъедини се към “зелена енергия” в България. Без емисии на въглероден диоксид(CO 2),
        живак, азотни окиси (NOx), серен диоксид (SO 2) или твърди частици във въздуха. Така помагаш на Планетата ни…
    </p>
    <p class="article-text">
        София, 28.06.2021 г. - Във връзка с определяне от Комисията за енергийно и водно регулиране на нови цени на
        електроенергията, в сила от 01.07.2021 г., „ЧЕЗ Разпределение България” АД ще извърши извънредно отчитане на
        електромерите на клиентите. Графикът на извънредния отчет ще бъде публикуван на 29 юни 2021 г., вторник, на
        сайта на дружеството: www.cez-rp.bg /в секция „Графици”, https://www.cez-rp.bg/bg/grafici/. След тази дата
        информация за графика на извънредното отчитане може да се получи също в центровете за обслужване на клиенти на
        ЧЕЗ и на денонощната телефонна линия 0700 10 010.
    </p>
    <p class="article-text">
        С цел да се обезпечи бързото и качествено отчитане на електромерите, компанията ангажира допълнително 542
        служители. Всички отчетници ще работят с удължено работно време на 01.07.2021 г.
        Поради физическата невъзможност всички електромери да бъдат отчетени в един и същ ден, месечните сметки на
        клиентите ще бъдат преизчислени към датата на въвеждане на новите цени.
        За гарантиране на максимална коректност при фактуриране на консумираната електроенергия, клиентите имат
        възможност сами да отчетат показанията на електромерите си към 30 юни 2021 г. Самоотчитането е по желание и не
        отменя извършването на месечен отчет от страна на дружеството.

    </p>
    <p class="article-text">
        Клиентите, които желаят да се възползват от тази възможност, следва да отчетат показанията на електромера си на
        30 юни 2021 г. И да подадат данните към ЧЕЗ Разпределение между 1 и 4 юли 2021 г., включително.
    </p>
    '
    }}
    {{>_uploaded-files}}
</main>