<main class="main">
    <h1 class="screen-reader-only">Mirko Accounting Aps - forside</h1>
    {{> _swiper-accent}}
    {{> _accent classes="section-accents"
    sectionTitle='Hvem er Mirko Accounting ApS?'
    aboutSection='Vores mål er altid at sikre dig den nødvendige tryghed og ekspertise, så din virksomhed kan trives
    bedst muligt. Vi er meget fokuserede på fremtiden og stræber altid efter at forudse den økonomiske og
    regnskabsmæssige udvikling, så vi kan implementere fremtidssikrede løsninger allerede i dag. '
    sectionImage= '../../assets/images/mk-accent-image.png'
    linkToPage='about-us.html'}}
    {{> _career}}
    {{> _news-section}}
    {{> _reviews}}
</main>