<main class="main">
    {{> _accent classes="section-accents"
    sectionTitle='Заяви е-фактура и спечели'
    aboutSection='От 1 март до 31 май 2021 г., всеки битов клиент на „ЧЕЗ Електро България“ АД, който се регистрира за
    услугата „Електронна фактура“, участва в кампанията „Спечели с ЧЕЗ и електронна фактура“.'
    sectionImage= '../../assets/images/smiling-couple.png'
    linkToPage='about-us.html'}}


    {{> _section}}

    {{> _accent
    sectionTitle='Кампания “Заедно можем всичко”'
    aboutSection='ЧЕЗ в България и „Надежда и домове за децата – клон България“ стартират „Заедно можем
    всичко“ – кампания за подпомагане на уязвими деца и семейства за преодоляване на негативните последствия от
    пандемията.'
    sectionImage= '../../assets/images/mother-dauther-drawing.jpeg'
    linkToPage='new-costumers.html'}}

    {{> _accent
    sectionTitle='Нови Клиенти'
    aboutSection='Клиентът е получател на стока или услуга в търговията и икономиката, предоставяни от продавач или
    доставчик, обикновено в замяна на пари или друга стойност. В някои случаи клиентът е също потребител на стоката или
    услугата, но това не е задължително.'
    sectionImage= '../../assets/images/new-clients.png'}}

    {{> _career}}
</main>