<main>
    {{>_template-pages
    bannerImage='../../assets/images/mother-dauther-drawing.jpeg'
    breadcrumbContent='Нови клиенти'
    articleTitle='Кампания “Заедно можем всичко”'
    articleTekst=
    '<p class="article-text">ЧЕЗ в България и „Надежда и домове за децата – клон България“ стартират „Заедно можем
        всичко“ –
        кампания за подпомагане на уязвими деца и семейства за преодоляване на негативните последствия на пандемията от
        коронавирус и прилагането на мерки за ограничаването й.
    </p>
    <p class="article-text">
        В рамките на кампанията ЧЕЗ поема заплащането на сметките за ток до края на годината на социално слаби
        семейства,
        чието състояние се е влошило още повече в резултат на пандемията. Семействата са от населени места в областите
        Видин, Враца, Плевен, София област и столицата. Част от съвместната инициатива е и подмяната на стари
        електроуреди,
        ползвани от тези семейства, с нови, енергийно ефективни.
    </p>
    <p class="article-text">
        ЧЕЗ и „Надежда и домове за децата – клон България“ обединяват усилия като партньори, за да докажат за пореден
        път,
        че ефективността от прилагането на социално отговорни бизнес практики в кризисна ситуация зависи от адекватното
        им и
        своевременно осъществяване.
    </p>
    <p class="article-text">
        Пандемията от корона вирус засегна сериозно всички аспекти на общественото икономическо и културно развитие в
        световен, национален и регионален мащаб. Преодоляването на негативните последствия, предизвикани от пандемията и
        прилагането на мерки за ограничаването й, е отговорност не само на законодателната и изпълнителна власт, а и на
        бизнеса, обществото и отделните граждани.
    </p>
    <p class="article-text">
        Кампанията „Заедно можем всичко“ е част от прилаганата от ЧЕЗ в България дългосрочна стратегия за корпоративна
        социална отговорност, чиито основни приоритети са свързани с подпомагане на местните общности, образованието и
        развитието на младите хора, опазването и грижата за околната среда, енергийната ефективност. До момента ЧЕЗ е
        подкрепила с почти 1 милион лева над 120 обществено полезни инициативи в тези области. В ситуация на извънредна
        обстановка от изключително значение за ЧЕЗ в България е навременното подпомагане на местните общности и особено
        на
        уязвимите им членове в усилията им за справяне с отрицателното въздействие на последствията от пандемията върху
        начина на живот, работа, обучение, социални връзки.
    </p>
    <p class="article-text">
        Сдружение „Надежда и домове за децата – клон България“ е част от „Надежда и домове за децата“/Hope and homes for
        children, неправителствена организация, създадена от Марк и Каролин Кук през 1994 г. С цел деинституционализация
        на
        грижите за изоставени деца, деца в риск и неравностойно положение, чрез развиване на набор от превантивни и
        подкрепящи услуги за семействата на децата. „Надежда и домове за децата“ подпомага реформирането на системите за
        закрила и грижа за децата в 10 страни от Централна, Източна Европа и Африка. Моделът за деинституционализация на
        организацията е признат от УНИЦЕФ и Световната здравна организация за най-добра световна практика.
    </p>
    <p class="article-text">
        От 12 години сдружение „Надежда и домове за децата – клон България“ подпомага уязвими семейства в страната чрез
        прилагане на модела на активна семейна подкрепа за преодоляване на семейни кризи с цел подобряване
        благосъстоянието
        на децата.
    </p>'
    }}
    {{>_uploaded-files}}

    {{>_gallery-section}}
</main>