<section class="about-us container">
    <div class="about-us__text-wrapper">
        <h2 class="about-us__title">Hvem er Mirko Accounting ApS?</h2>
        <hr class="title__underline" />
        <p class="about-us__text">
            Selvom Mirko Accounting er en relativt ung virksomhed, da den blev etableret i april 2019, har vi en
            omfattende erfaring fra både private og offentlige virksomheder. Vores mål er altid at sikre dig den
            nødvendige tryghed og ekspertise, så din virksomhed kan trives bedst muligt. Vi er meget fokuserede på
            fremtiden og stræber altid efter at forudse den økonomiske og regnskabsmæssige udvikling, så vi kan
            implementere fremtidssikrede løsninger allerede i dag. Uanset om opgaverne er store eller små, er vi altid
            villige til at tage udfordringen med et smil og hjælpe dig med at holde styr på din virksomheds regnskab.
            Vores engagement og professionalisme er altid i højeste gear, da vi er dedikerede til at imødekomme dine
            behov.
        </p>
    </div>
    <div class="images-wrapper">
        <div class="first-line__wrapper">
            <img src="../../assets/images/mk-about-us-team.png"
                alt="Det er første billede ud af tre billeder af Mirko Accountings team" class="about-us__images">
            <img src="../../assets/images/mk-about-us-team-2.png"
                alt="Det er anden billede ud af tre billeder af Mirko Accountings team" class="about-us__images">
        </div>
        <div class="second-line__wrapper">
            <img src="../../assets/images/mk-about-us-team-3.png"
                alt="Det er tredje billede ud af tre billeder af Mirko Accountings team" class="about-us__images-tirth">
        </div>
    </div>

</section>