<section class="section container  {{classes}}">
    <div class="container-accent">
        <div class="container-accent__left-side">
            <h2 class="left-side__title">
                Заяви е-фактура и спечели
                <hr class="title_underline" />
            </h2>
            <div class="container-left-side__text-box">
                <span class="left-side__text-box">
                    От 1 март до 31 май 2021 г., всеки битов клиент на „ЧЕЗ Електро България“ АД, който се регистрира за
                    услугата „Електронна фактура“, участва в кампанията „Спечели с ЧЕЗ и електронна фактура“.
                </span>
            </div>
            <button class="left-side_more-btn">Прочети повече</button>
        </div>

        <div class="container-accent__right-side">
            <div class="right-side__container-img">
                <img class="right-side__image" src="../../assets/images/smiling-couple.png" alt="images" />
            </div>
        </div>
    </div>
</section>
