<section class="container accent">
    <div class="accent__left-side">
        <h2 class="left-side__title left-side">
            {{sectionTitle}}
        </h2>
        <hr class="title__underline" />
        <p class="left-side__text-box">
            {{aboutSection}}
        </p>

        <button class="left-side__more-btn unstyled-button"> <a href="{{linkToPage}}">Прочети повече</a> </button>
    </div>

    <div class="accent__right-side">
        <img class="right-side__image" src={{sectionImage}} alt="images" />
    </div>
</section>