<section class="company-news container company-news--grid">
    {{#each company-news.news-cards}}
    <div class="news-item">
        <a href="#" class="news-item__link">
            <div class="link-wrapper">
                <img src="{{image}}" alt="" class="news-item__image">
                <time class="news-item__time"> {{date}} </time>
            </div>
            <div class="text-wrapper">
                <h3 class="news-item__title"> {{title}} </h3>
                <p class="news-item__text"> {{text}} </p>
            </div>
        </a>
    </div>
    {{/each}}

    <div class="news-pagination">
        <ul>
            <li><span class="news-pagination__arrow--prev"> Prev </span></li>
            <li class="news-pagination__page-number"><span>1</span></li>
            <li class="page-number"><span>2</span></li>
            <li class="news-pagination__dots-divider"><span>...</span></li>
            <li class="news-pagination__page-number"><span>4</span></li>
            <li class="news-pagination__page-number"><span>5</span></li>
            <li class="news-pagination__dots-divider"><span>...</span></li>
            <li class="news-pagination__page-number"><span>7</span></li>
            <li><span class="news-pagination__arrow--next"> Next </span></li>
        </ul>
    </div>
</section>