<div class="tabs-menu__container">
    <div class="tabs-menu">
        <button data-tab-id="telephones" class="tablinks  unstyled-button active">Телефони
        </button>
        <button class="tablinks unstyled-button">Адреси</button>
        <button class="tablinks unstyled-button">Имейли</button>
    </div>

    <div id="telephones" class="tabcontent  active container">
        {{#each contacts.telephones}}
        <div class="tabcontent__section">
            <h3 class="tabcontent__titles">{{title}}</h3>
            <hr class="title_underline">
            <p class="tabcontent__text"> {{number}} </p>
            <p class="tabcontent__text"> {{workingHours}} </p>
            <p class="tabcontent__text"> {{moreInfo}} </p>
        </div>
        {{/each}}
    </div>

    <div id="addresses" class="tabcontent container">
        {{#each contacts.addresses}}
        <div class="tabcontent__section">
            <h3 class="tabcontent__titles">{{title}}</h3>
            <hr class="title_underline">
            <p class="tabcontent__text"> {{city}} </p>
            <p class="tabcontent__text"> {{street}} </p>
            <button class="unstyled-button">
                {{more}}
            </button>
        </div>
        {{/each}}
    </div>

    <div id="mails" class="tabcontent container">
        {{#each contacts.mails}}
        <div class="tabcontent__section">
            <h3 class="tabcontent__titles">{{title}}</h3>
            <hr class="title_underline">
            <p class="tabcontent__text"> {{mail}} </p>
        </div>
        {{/each}}
    </div>
</div>