<footer class="footer">
    <h1 class="screen-reader-only">Футър</h1>

    <div class="footer__left-side"></div>

    <div class="footer__right-side">
        <div class="container footer-content footer-content--grid">
            <div class="footer-content__service">
                <h2 class="footer-titles">Обслужване на клиенти</h2>
                {{#each services.data}}
                {{> _rowfooter }}
                {{/each}}
            </div>

            <div class="footer-content__information">
                <h2 class="footer-titles">Информация за клиента</h2>
                <hr class="about-section__line">
                <div class="information__links">
                    <a class="link" href="#">Условия за ползване на сайта</a>
                    <a class="link" href="#">Защита на личните данни</a>
                    <a class="link" href="#">Настройки за бисквитки</a>
                    <a class="link" href="#">Карта на сайта</a>
                </div>
            </div>

            <div class="footer-content__bulletin">

                <h2 class="bulletin__title footer-titles">Абонирай се за бюлетин</h2>
                <hr class="about-section__line">
                <form action="/" class="bulletin-form">

                    <label class="bulletin__checkbox private-costumers" for="private"> <input type="checkbox"
                            id="private" name="private" value="private-costumers" class="checkbox" />
                        Битов клиент
                    </label>


                    <label class="bulletin__checkbox private-costumers" for="business"><input type="checkbox"
                            name="checkbox" id="business" value="business-costumers" class="checkbox" />
                        Бизнес клиент
                    </label>

                    <div class="bulletin__subscribe">
                        <input type="text" name="e-mail" id="subscribe_email" class="subscribe_email bulletin__email"
                            placeholder="Имейл">
                        <button class="bulletin__submit">Абонирай се</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer__bottom container">
            <div class="bottom__left">
                <p class="bottom__copyright">&copy; 2023 - ЧЕЗ България</p>
            </div>
            <div class="bottom__right">
                <p class="bottom__pytek">Дизайн и програмиране: <img src="../../assets/images/pytek.svg"
                        alt="Pytek logo">
                </p>
            </div>
        </div>
    </div>
</footer>