<footer class="footer-main">
    <div class="footer__left-side"></div>

    <div class="footer__right-side ">
        <div class="grid-container container">
            <div class="right-side__service">
                <p class="footer-titles">Обслужване на клиенти</p>
                {{#each services.data}}
                {{> _rowfooter }}
                {{/each}}
            </div>

            <div class="right-side__information">
                <p class="footer-titles">Информация за клиента</p>
                <hr class="about-section__line">
                <div class="information__links">
                    <a class="link" href="#">Условия за ползване на сайта</a>
                    <a class="link" href="#">Защита на личните данни</a>
                    <a class="link" href="#">Настройки за бисквитки</a>
                    <a class="link" href="#">Карта на сайта</a>
                </div>
            </div>

            <div class="right-side__bulletin">

                <p class="bulletin__title footer-titles">Абонирай се за бюлетин</p>
                <hr class="about-section__line">
                <form action="" class="bulletin-form">
                    <label class="bulletin__checkbox private-costumers">
                        <input type="checkbox" class="bulletin__checkbox-style">
                        <p class="checkbox-text"> Битов
                            клиент</p>
                    </label>
                    <label class="bulletin__checkbox private-costumers">
                        <input type="checkbox" class="bulletin__checkbox-style">
                        <p class="checkbox-text">Бизнес
                            клиент</p>
                    </label>

                    <div class="bulletin__subscribe">
                        <input type="text" name="" id="subscribe_email" class="subscribe_email" placeholder="Имейл"
                            class="bulletin__email">
                        <button class="bulletin__submit">Абонирай се</button>
                    </div>
                </form>
            </div>
            <div class="footer__bottom">
                <div class="bottom__left">
                    <p class="bottom__copyright">© 2023 - ЧЕЗ България</p>
                </div>
                <div class="bottom__right">
                    <p class="bottom__pytek">Дизайн и програмиране: <img src="../../assets/images/pytek.svg" alt="">
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>