<section class="container form-accent">
    <div class="form-accent__left-side">
        <h2 class="left-side__title">
            Свържи се с нас
        </h2>
        <hr class="article-title__underline" />
        <div class="left-side__text-box">
            <span class="text-box">
                ЧЕЗ в България и „Надежда и домове за децата – клон България“ стартират „Заедно можем всичко“ – кампания
                за подпомагане на уязвими деца и семейства за преодоляване на негативните последствия на пандемията от
                коронавирус и прилагането на мерки за ограничаването й.
            </span>

        </div>
    </div>

    <div class="form-accent__right-side">
        <div class="right-side__form--orange"></div>
        <div class="right-side__form--grey">
            <form action="" class="submit-form">
                <select name="" class="form-content office-option">
                    <option value="" disabled selected>До офис или дружество</option>
                    <option value="">ЧЕЗ 1</option>
                    <option value="">ЧЕЗ 2</option>
                    <option value="">ЧЕЗ 3</option>
                </select>
                <div class="name-container">
                    <input class="form-content name" type="text" placeholder="Име">
                    <input class="form-content lastname" type="text" placeholder="Фамилия">
                </div>

                <input class="form-content email" type="text" placeholder="Имейл">
                <input class="form-content message" type="text" placeholder="Тема на съобщението">

                <textarea class="form-content textarea" name="" id=""></textarea>
                <label for="" class="radio-button-container ">
                    <input type="checkbox" class="bulletin__checkbox-style form-checkbox">
                    <p class="form__checkbox-text">Съгласен съм личните ми данни да бъдат обработвани.</p>
                </label>
                <button class="left-side_more-btn unstyled-button">Изпрати</button>
            </form>
        </div>

    </div>
</section>