<section class="container contact-form">
    <div class="contact-form__left-side">
        <h2 class="left-side__title">
            Kontakt os
        </h2>
        <hr class="article-title__underline" />
        <div class="left-side__text-box">
            <div class="kontakt-number mk-kontakt-wrapper">
                <div class="icon-wrapper">
                    <img src="../../assets/images/mk-phone-icon.png" class="mobile-icon mk-icons" alt="">
                </div>
                <p> 30 30 30 30 </p>
            </div>
            <div class="kontakt-email  mk-kontakt-wrapper">
                <div class="icon-wrapper">
                    <img src="../../assets/images/mk-mail-icon.png" class="mail-icon mk-icons" alt="">
                </div>
                <p> info@mirkoaccounting.dk</p>
            </div>
            <div class="kontakt-adrasse  mk-kontakt-wrapper">
                <div class="icon-wrapper">
                    <img src="../../assets/images/mk-location-icon.png" class="location-icon" alt="">
                </div>
                <p> Bymuren 84, 3tv., 2650 Hvidovre</p>
            </div>

        </div>
    </div>
    <div class="form-accent__right-side">
        <div class="right-side__form">
            <form action="" class="submit-form">
                <select name="" class="form-content person-option">
                    <option value="" disabled selected>Hvem vil du have samtale med ?</option>
                    <option value="">Miroslav Kovachev - Regnskabschef</option>
                    <option value="">Miroslava Kovacheva -Administrativ medarbejder</option>
                    <option value="">Denita Deshkova - Regnskabsassistent</option>
                </select>
                <div class="name-container">
                    <input class="form-content name" type="text" placeholder="Navn">
                    <input class="form-content lastname" type="text" placeholder="Efternavn">
                </div>

                <input class="form-content email" type="text" placeholder="E-mail">
                <input class="form-content message" type="text" placeholder="Hvad drejer det sig om?">

                <textarea class="form-content textarea" name="" id=""></textarea>
                <label for="" class="radio-button-container ">
                    <input type="checkbox" class="bulletin__checkbox-style form-checkbox">
                    <p class="form__checkbox-text">Jeg accepterer, at mine personoplysninger behandles.</p>
                </label>
                <button class="unstyled-button contact-form__btn">SEND</button>
            </form>
        </div>

    </div>
</section>