<div class="swiper gallery">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../assets/images/hands.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/tractor.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/price.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/engeneer.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/tractor.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/price.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/engeneer.png"></div>

    </div>
    <div class="swiper-button-prev">
        <img src="../../assets/images/arrow-slide.svg" alt="">
    </div>
    <div class="swiper-button-next">
        <img src="../../assets/images/arrow-slide.svg" alt="">
    </div>
</div>