<div class="swiper gallery">
    <div class="swiper-wrapper gallery-wrapper">
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/hands.png" class="gallery-image"></div>
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/tractor.png" class="gallery-image"></div>
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/price.png" class="gallery-image"></div>
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/engeneer.png" class="gallery-image"></div>
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/tractor.png" class="gallery-image"></div>
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/price.png" class="gallery-image"></div>
        <div class="swiper-slide gallery-slide"><img src="../../assets/images/engeneer.png" class="gallery-image"></div>

    </div>
    <div class="swiper-button-prev gallery-button-prev">
        <img src="../../assets/images/arrow-slide.svg" alt="">
    </div>
    <div class="swiper-button-next gallery-button-next">
        <img src="../../assets/images/arrow-slide.svg" alt="">
    </div>
</div>