<header class="main-navigation">
    <div class="navbar container">
        <div class="navbar__logo">
            <a href="index.html">
                <img src="../../assets/images/imgpsh_fullsize_anim.png" class="logo" />
            </a>
        </div>
        <nav class="menu">
            <ul class="menu__first-level">
                {{#each menu.content}}
                <li class="menu__list-item dropdown ">
                    <a href=" {{link}} ">
                        {{title}}
                        {{#if secondLevel}}
                        <img src="../../assets/images/arrow-nav.svg" class="first-level__link-arrow" alt="">
                        <img src="../../assets/images/arrow-dropdown.svg" class="first-level__link-arrow--orange"
                            alt="">
                    </a>
                    <ul class="menu__second-level">
                        {{#each secondLevel}}
                        <li class="second-level__list-item second-level__dropdown">
                            <a href="" class="link__third-level">
                                {{title}}
                                {{#if thirdLevel}}
                                <img src="../../assets/images/arrow-nav.svg" class="link-arrow" alt="">
                                <img src="../../assets/images/arrow-dropdown.svg" class="link-arrow--orange" alt="">
                            </a>

                            <ul class="menu__third-level">
                                {{#each thirdLevel}}
                                <li class="third-level__list-item">
                                    <a href="">{{title}}</a>
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            <div class="navbar__searching-and-lanugages">
                <div class="icons-container">
                    <li class=" icon ">
                        <img src="../../assets/images/loupe.svg" alt="" class="icon-search" />
                    </li>
                    <li class="">
                        <img src="../../assets/images/noun_Language.svg" alt="" class="icon-languages" />
                    </li>
                </div>
                <li class="menu-list_item dropdown ">
                    <a class="menu__list-item" href="">
                        БГ
                        <img src="../../assets/images/arrow-nav.svg" class="first-level__link-arrow" alt="">
                        <img src="../../assets/images/arrow-dropdown.svg" class="first-level__link-arrow--orange"
                            alt="">
                    </a>
                    <ul class="menu__second-level">
                        <li class="menu__list-item"><a href="#">АЕ</a></li>
                    </ul>
                </li>
            </div>

        </nav>
    </div>
</header>