<header>
    <div class="main-navigation">
        <nav class="navbar">
            <div class="navbar__logo">
                <img src="../../assets/images/imgpsh_fullsize_anim.png" class="logo" />
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-liste_item dropdown">
                        <a href="">
                            За нас
                            <img src="../../assets/images/arrow-nav.svg" />
                        </a>
                        <ul class="dropdown-content">
                            <li><a href="">Опция 1</a></li>
                            <li><a href="">Опция 2</a></li>
                        </ul>
                    </li>

                    <li class="menu-liste_item dropdown">
                        <a href="">
                            Дружества
                            <img src="../../assets/images/arrow-nav.svg" />
                        </a>
                        <ul class="dropdown-content">
                            <li><a href="">Опция 1</a></li>
                            <li><a href="">Опция 2</a></li>
                        </ul>
                    </li>

                    <li class="menu-liste_item"><a href="">Новини</a></li>

                    <li class="menu-liste_item dropdown">
                        <a href="">
                            Социална отговорност
                            <img src="../../assets/images/arrow-nav.svg" />
                        </a>
                        <ul class="dropdown-content">
                            <li><a href="">Опция 1</a></li>
                            <li><a href="">Опция 2</a></li>
                        </ul>
                    </li>
                    <li class="menu-liste_item dropdown">
                        <a class="menu-item_link" href="">
                            Кариери
                            <img src="../../assets/images/arrow-nav.svg" />
                        </a>
                        <ul class="dropdown-content">
                            <li class="menu-item_link"><a href="">Опция 1</a></li>
                            <li class="menu-item_link"><a href="">Опция 2</a></li>
                        </ul>
                    </li>
                    <li class="menu-liste_item"><a href="">Контакти</a></li>

                    <div class="icons-container">
                        <li class="menu-liste_item">
                            <img src="../../assets/images/loupe.svg" alt="" class="search" />
                        </li>
                        <li class="menu-liste_item">
                            <img src="../../assets/images/noun_Language.svg" alt="" class="nav-languages" />
                        </li>
                        <li class="menu-liste_item dropdown">
                            <a class="menu-item_link" href="">
                                БГ
                                <img src="../../assets/images/arrow-nav.svg" />
                            </a>
                            <ul class="dropdown-content">
                                <li class="menu-item_link"><a href="">АЕ</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</header>
