<div class="cpm-news-section container">
    <div class="cpm-news-section__left-side">
        <div class="cpm-news-content">
            {{>_news-swiper}}
        </div>
    </div>
    <div class="cpm-news-section__right-side">
        <div class="right-side__cpm-news-title">
            <h2 class="cpm-news-title">Seneste nyheder</h2>
            <hr class="title__underline" />
            <p>Her kan du se vores seneste nyheder. Hvis du vil se alle, så tryk på knappen nedunder og se alle vores
                nyhder både for private og erhvervs kunder.</p>
            <button class="left-side__more-btn unstyled-button"> <a href="blog.html">Læs mere</a> </button>
        </div>
    </div>
</div>