<section class="our-team">
    <div class="our-team__text-wrapper container">
        <h2 class="our-team__title">MIRKO ACCOUNTINGS TEAM</h2>
        <p class="our-team__text"> Mød din pålidelige partner inden for regnskab og økonomistyring. Vores team består af
            erfarne og dedikerede fagfolk med en stærk baggrund inden for både private og offentlige sektorer.
        </p>
    </div>
    <div class="team-wrapper container">
        <div class="person-profil">
            <img src="../../assets/images/mk-team-miroslav.jpg" alt="" class="person-image">
            <p class="person-name">Miroslav Kovachev</p>
            <p class="person-position">Indehaver og Regnskabschef</p>
        </div>
        <div class="person-profil">
            <img src="../../assets/images/mk-team-denitsa.jpg" alt="" class="person-image">
            <p class="person-name">Denitsa Deshkova</p>
            <p class="person-position">Regnskabsassistent</p>
        </div>
        <div class="person-profil">
            <img src="../../assets/images/mk-team-mira.jpg" alt="" class="person-image">
            <p class="person-name">Miroslava Kovacheva</p>
            <p class="person-position">Administrativ medarbejder</p>
        </div>
    </div>
</section>