<section class="cpm-divider">
    <div class="cpm-wrapper container">
        <p class="cpm-divider__quote">
            "Managers and investors alike must understand that accounting numbers are the beginning, not the end, of
            business valuation."
        </p>
        <div class="author-wrapper">
            <div class="author-image-wrapper">
                <img class="author-image" src="../../assets/images/ma_portret_miro.jpg" alt="">
            </div>
            <p class="author-name">Miroslav Kovachev</p>
        </div>
    </div>
</section>