<div class="costumer-service">
    <div class="service-border">
        <h3 class="service-title">{{title}}</h3>
        <div class="service-information">
            {{#if number}}
            <div class="information-number">
                <img src="../../assets/images/mk-phone-icon.png" class="image" alt="mobile-icon">
                <p> {{number}} </p>
            </div>
            {{/if}}

            {{#if email}}
            <span class="information-divider"></span>
            <div class="information-email">
                <img src="../../assets/images/mk-mail-icon.png" class="image" alt="mail-icon">
                <p> {{email}} </p>
            </div>
            {{/if}}

            {{#if hverdagen}}
            <div class="information-link">
                <p class="working-hours-everyday">{{hverdagen}}</p>
                <p class="working-hours--weekend">{{weekend}}</p>
            </div>
            {{/if}}

        </div>
    </div>
</div>