<section>
    <div class="container-section">
        <div class="container-section__orange-side"></div>

        <div class="container-section__cards-side">
            <div class="cards-side__about-section">
                <h2 class="about-section__title">Е-услуги</h2>
                <hr class="about-section__line" />
                <p class="about-section__text">
                    Тук ще намерите електронни услуги, които можете да ползвате за повече удобство и гъвкавост в
                    динамичното Ви ежедневие!
                </p>
            </div>
            <div class="cards-side__all-cards">
                {{> _cards cardImage='../../assets/images/Electricity.svg' cardTitle='Аварии, текущи и планирани
                ремонти'
                cardText='За по-подробна информация относно прекъсвания на електрозахранването моля вижте тук.'}}

                {{> _cards cardImage='../../assets/images/attached-image.svg' cardTitle='Eлектронна фактура'
                cardText='Електронната фактура Ви дава по-бърза и сигурна доставка (до 24 часа от издаването, на
                посочения имейл) и удобно персонално съхранение.'}}

                {{> _cards cardImage='../../assets/images/SMS.svg' cardTitle='SMS Услуги'
                cardText='Регистрирайте се за безплатно sms известяване преди прекъсване на електрозахранването и
                проверка на сметката с един sms - за клиенти на А1, Теленор и Виваком!'}}

            </div>
        </div>
    </div>
</section>