<section class="container-section">
    <div class="ydelser-banner">
        <div class="ydelser-banner__background-color"></div>
        <div class="banner__image-wrapper">
            <img src=../../assets/images/mk-banner-image-ydelser.png alt="" class="ydelser-banner__image">
        </div>
    </div>
    <div class="container">
        <div class="cards-side__about-section">
            <h2 class="about-section__title">YDELSER</h2>

            <p class="about-section__text">

                Her hos os finder du et bredt udvalg af ydelser, der er designet til at give dig øget
                bekvemmelighed
                og fleksibilitet i din travle hverdag!
                <br>
                Vi tilbyder vores tjenester til en meget konkurrencedygtig pris på kun <b> 500 kr. pr. time </b>
                inklusive
                moms.
                <br>
                Vi er her for dig!
            </p>
        </div>
        <div class="cards-side__all-cards">
            {{> _cards cardImage='../../assets/images/mk-bogføring-ydelser.png' cardTitle='Bogføring'
            cardText='Vi registrerer og organiserer finansielle transaktioner, herunder indtægter, udgifter,
            indbetalinger og udbetalinger. Dette indebærer at opdatere regnskaber og registrere alle økonomiske
            begivenheder korrekt.'}}

            {{> _cards cardImage='../../assets/images/mk-budgettering-ydelser.png' cardTitle='Budgettering og
            prognoser'
            cardText='Vi hjælper med at udarbejde budgetter og finansielle prognoser for virksomheden. Dette
            indebærer at analysere tidligere data og forretningsmæssige mål for at estimere fremtidige indtægter
            og
            udgifter.'}}

            {{> _cards cardImage='../../assets/images/mk-moms-ydelser.png' cardTitle='Moms og skatteregnskaber'
            cardText='Vi hjælper med at håndtere momsregistrering og indberetning af momsafregninger samt at
            sikre,
            at virksomheden overholder skattelovgivningen og indsender nødvendige skatteoplysninger.'}}

            {{> _cards cardImage='../../assets/images/mk-finansiel-rapport-ydelser.png' cardTitle='Finansiel
            rapportering'
            cardText='Vi udarbejder og præsenterer finansielle rapporter, herunder resultatopgørelser,
            balanceopgørelser og pengestrømsanalyser.'}}

            {{> _cards cardImage='../../assets/images/mk-løn-ydelser.png' cardTitle='Lønadministration'
            cardText='Vi hos Mirko Accounting ApS udarbejder lønsedler, beregne skat og indberette
            indkomstskatter
            og sociale bidrag.'}}

            {{> _cards cardImage='../../assets/images/mk-rådgivning-ydelser.png' cardTitle='Økonomisk
            rådgivning'
            cardText=' Dette omfatter anbefalinger til omkostningsstyring, forbedring af pengestrømme og
            finansiel
            planlægning.'}}
        </div>
    </div>
</section>