<div class="swiper-accent">
    <div class="swiper-accent__background"></div>
    <div class="container swiper-accent__container">
        <div class="swiper mySwiper slider">
            <div class="swiper-wrapper swiper-accent__wrapper">
                <div class="swiper-slide swiper-accent__slide" data-slide="1">
                    <picture>
                        <source class="slide-image" srcset="../../assets/images/accounting-swiper-1.png" width="1218"
                            height="809" media="(min-width:1025px)">
                        <source class="slide-image" srcset="../../assets/images/accounting-swiper-1.png" width="650"
                            height="430" media="(min-width:767px)">
                        <img class="slide-image" src="../../assets/images/accounting-swiper-1.png" width="343"
                            height="341" alt>
                    </picture>
                </div>
                <div class="swiper-slide swiper-accent__slide" data-slide="2">
                    <picture>
                        <source class="slide-image" srcset="../../assets/images/mk-swiper-image-2.jpg" width="1218"
                            height="809" media="(min-width:1025px)">
                        <source class="slide-image" srcset="../../assets/images/mk-swiper-image-2.jpg" width="650"
                            height="430" media="(min-width:767px)">
                        <img class="slide-image" src="../../assets/images/mk-swiper-image-2.jpg" width="343"
                            height="341" alt>
                    </picture>
                </div>
                <div class="swiper-slide swiper-accent__slide" data-slide="3">
                    <picture>
                        <source class="slide-image" srcset="../../assets/images/mk-swiper-image-3.jpg" width="1218"
                            height="809" media="(min-width:1025px)">
                        <source class="slide-image" srcset="../../assets/images/mk-swiper-image-3.jpg" width="650"
                            height="430" media="(min-width:767px)">
                        <img class="slide-image" src="../../assets/images/mk-swiper-image-3.jpg" width="343"
                            height="341" alt>
                    </picture>
                </div>
                <div class="swiper-slide swiper-accent__slide" data-slide="4">
                    <picture>
                        <source class="slide-image" srcset="../../assets/images/mk-swiper-image-4.jpg" width="1218"
                            height="809" media="(min-width:1025px)">
                        <source class="slide-image" srcset="../../assets/images/mk-swiper-image-4.jpg" width="650"
                            height="430" media="(min-width:767px)">
                        <img class="slide-image" src="../../assets/images/mk-swiper-image-4.jpg" width="343"
                            height="341" alt>
                    </picture>
                </div>
            </div>
        </div>
        <div class="content-pagination__wrapper">
            <div class="swiper-slide__content">
                {{#each swiper-accent.swiperContent}}
                <div class="slide-content {{class}}" data-slide="{{dataSlide}}">
                    <h2 class="content-title">{{title}}</h2>
                    <hr class="content-underline">
                    <p class="content-text">
                        {{text}}
                    </p>
                    <a class="content-button" href="{{btn-link}}"> {{btn-text}} </a>
                </div>
                {{/each}}
            </div>
            <div class="swiper-pagination swiper-pagination__numbers">
            </div>
        </div>
    </div>
</div>