<div class="page-template">
    <div class="container">
        <div class="banner ">
            <div class="banner__color-side"></div>
            <div class="banner__image-side">
                <img src={{bannerImage}} alt="" class="banner-image">
            </div>
        </div>

        <div class="breadcrumb-container">
            <div class="breadcrumb__col">
                <a href="index.html" class="breadcrumb__item">Начало</a>
            </div>
            <div class="breadcrumb__col">
                <a href="" class="breadcrumb__item">За клиенти</a>
            </div>
            <div class="breadcrumb__col">
                <span href="" class="breadcrumb__item"> {{breadcrumbContent}} </span>
            </div>
        </div>
        <div class="breadcrumb__border">
            <hr class="item-border">
        </div>

        <article>
            <h2 class="article-title"> {{articleTitle}} </h2>
            <hr class="article-title__underline" />
            {{{articleTekst}}}
        </article>
    </div>
</div>