<div class="swiper video-gallery">
    <div class="swiper-wrapper video-gallery-wrapper">
        <div class="swiper-slide video-gallery-slide">
            <img src="../../assets/images/hands.png" class="video-gallery-image">
        </div>
        <div class="swiper-slide video-gallery-slide"><img src="../../assets/images/tractor.png"
                class="video-gallery-image"></div>
        <div class="swiper-slide video-gallery-slide"><img src="../../assets/images/price.png"
                class="video-gallery-image"></div>
        <div class="swiper-slide video-gallery-slide"><img src="../../assets/images/engeneer.png"
                class="video-gallery-image"></div>
        <div class="swiper-slide video-gallery-slide"><img src="../../assets/images/tractor.png"
                class="video-gallery-image"></div>
        <div class="swiper-slide video-gallery-slide"><img src="../../assets/images/price.png"
                class="video-gallery-image"></div>
        <div class="swiper-slide video-gallery-slide"><img src="../../assets/images/engeneer.png"
                class="video-gallery-image"></div>

    </div>
    <div class="swiper-button-prev video-gallery-button-prev">
        <img src="../../assets/images/arrow-slide.svg" alt="">
    </div>
    <div class="swiper-button-next video-gallery-button-next">
        <img src="../../assets/images/arrow-slide.svg" alt="">
    </div>
</div>