// colors
$theme-color-primary: #3A7BE4;
$theme-color-secondary: #ffff;
$tab-color-white: #ffffffab;
$link-color-black: rgb(0, 0, 0);
$section-color-grey: #f5f5f5;
$placeholder-color: #d6d6d6d6;
$footer-color-grey: #e3e3e3;
$burger-menu-color: #393939;
$mobile-header-arrow: #aeaeae;
$news-date-color: #878787;
$theme-color-third: #4ec99a;
$banner-color: #184389;
$border-width: 13px;

// fonts
$font-opensans-regular: "OpenSans-Regular";

@font-face {
    font-family: $font-opensans-regular;
    src: url("../../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

$font-opensans-extrabold: "OpenSans-ExtraBold";

@font-face {
    font-family: $font-opensans-extrabold;
    src: url("../../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

$font-robotocondensed-bold: "RobotoCondensed-Bold";

@font-face {
    font-family: $font-robotocondensed-bold;
    src: url("../../assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

$font-robotocondensed-regular: "RobotoCondensed-Regular";

@font-face {
    font-family: $font-robotocondensed-regular;
    src: url("../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

// font-size
$news-date-size: 13px;
$theme-font-base: 16px;
$mk-costumer-reviews-size: 14px;
$theme-font-title: 40px;
$tab-menu-font: 30px;
$line-height: 24px;
$h2-font: 24px;
$theme-font-small-title: 20px;
$career-font-numbers: 50px;
$swiper-numbers-size: 80px;
$swiper-numbers-responsive: 39px;
$team-name-font-size: 20px;
//Responsive font-size
$responsive-news-date-size: 10px;
$responsive-title-size: 18px;
$responsive-text-size: 12px;
$responsive-paragraph-size: 15px;
$responsive-big-title-size: 24px;
$responsive-numbers-size: 30px;

//Background styles
$mobile-menu-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.109);
$background-color: none;
$background-no-repeat: no-repeat;
$background-size: 20px 25px;
$background-position: right;
$background-position-x: 85%;
$background-transparent: transparent;
$transform-background-image: translateY(-50%);
$swiper-style: unset;
$border-radius: 50%;
$image-border-radius: 50%;

//box-styles
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
$content-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.16);
$letter-spacing: -1.5px;

//Border styles
$none-border: none;
$none-radius: 10px;
$pagination-prev: 35px 10px 10px 35px;
$pagination-next: 10px 35px 35px 10px;

//Chekbox styles
$webkit: rotate(45deg);
$transform: rotate(45deg);
$second-transform: rotate(45deg);

//menu-style
$menu-background-image: url('../../assets/images/arrow-nav.svg');
$menu-background-hover: url('../../assets/images/arrow-dropdown.svg');
$gallery-pagination-arrow: url('../../assets/images/arrow-slide.svg');
$transperant-background: transparent;
$menu-background-size: 10px 15px;
$menu-background-position: right;
$menu-background-position-x: 100%;

//tab
$tab-border-right: solid 10px #f5f5f5;
$tab-border-left: solid 10px #f5f5f5;


//line-hight

$swiper-line-hight-primary: 3rem;
$swiper-line-hight-secondary: 1rem;