// colors
$theme-color-primary: #f3581e;
$theme-color-secondary: #ffff;
$tab-color-white: #ffffffab;
$link-color-black: rgb(0, 0, 0);
$section-color-grey: #f5f5f5;
$placeholder-color: #d6d6d6d6;
$footer-color-grey: #e3e3e3;
$burger-menu-color: #393939;
$mobile-header-arrow: #aeaeae;


// font
$font-opensans-regular: "OpenSans-Regular";

@font-face {
    font-family: $font-opensans-regular;
    src: url("../../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

$font-opensans-extrabold: "OpenSans-ExtraBold";

@font-face {
    font-family: $font-opensans-extrabold;
    src: url("../../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

$font-robotocondensed-bold: "RobotoCondensed-Bold";

@font-face {
    font-family: $font-robotocondensed-bold;
    src: url("../../assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

$font-robotocondensed-regular: "RobotoCondensed-Regular";

@font-face {
    font-family: $font-robotocondensed-regular;
    src: url("../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

// typography
$theme-font-base: 16px;
$theme-font-title: 40px;
$tab-menu-font: 30px;
$line-height: 24px;
$h2-font: 24px;
$theme-font-small-title: 20px;
$career-font-numbers: 50px;

//Responsive size for typography
$responsive-title-size: 18px;
$responsive-paragraph-size: 15px;
$responsive-big-title-size: 24px;
$responsive-numbers-size: 30px;

//menu-style
$menu-background-image: url('../../assets/images/arrow-nav.svg');
$menu-background-hover: url('../../assets/images/arrow-dropdown.svg');
$gallery-pagination-arrow: url('../../assets/images/arrow-slide.svg');
$transperant-background: transparent;
$menu-background-size: 10px 15px;
$menu-background-position: right;
$menu-background-position-x: 100%;

//Background styles
$background-image: url('../../assets/images/arrow-small.svg');
$background-image-hover: url('../../assets/images/arrow-small-orange.svg');
$career-background: linear-gradient(to top, #393939, rgba(122, 122, 122, 0.29));
$mobile-menu-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.109);
$background-color: none;
$background-no-repeat: no-repeat;
$background-size: 20px 25px;
$background-position: right;
$background-position-x: 85%;
$background-transparent: transparent;
$transform-background-image: translateY(-50%);
$swiper-style: unset;

//box-styles
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
$letter-spacing: -1.5px;

//Border styles
$none-border: none;
$none-radius: 10px;

//Chekbox styles
$webkit: rotate(45deg);
$transform: rotate(45deg);
$second-transform: rotate(45deg);

//tab
$tab-border-right: solid 10px #f5f5f5;
$tab-border-left: solid 10px #f5f5f5;
$tab-border-top: solid 10px #f3581e;